.project-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap: 20px;
  max-width: 1500px;
  margin: auto;
  /* background-color: white */
}

img {
  width: 100%;
}

.single-project {
  background-color: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#projects h3, p {
  text-align: justify;
  align-items: center;
  width: 90%
}

#projects ul {
  text-align: justify;
  width: 85%;
}

