.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: brown;
  margin-bottom: 0px;
}

.portfolio-photo {
  border-radius: 500px;
  width: 30%;
  height: auto
}

.App-header h2 {
  color: brown;
  text-transform: none
}

