.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: brown;
  margin-bottom: 0px;
  font-family: Lora;
}

.portfolio-photo {
  border-radius: 500px;
  width: 30%;
  height: auto
}

.App-header h2 {
  color: brown;
  text-transform: none;
  margin-top: 0px
}

.App-header h1 {
  margin-bottom: 0px;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding-bottom: 1.25rem;
  animation: fadeIn 0.4s ease-in;
}

.social-link {
  color: #edd5bb;
  transition: color 0.3s ease-in-out;
}

.social-link:hover {
  color: #5c6046;
}
